body {
    font-size: 100%;
    margin: 0;
}

.home-grid{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: [first] 75% [second] 2.5% [third] auto;
        grid-template-columns: [first] 75% [second] 2.5% [third] auto;
    min-height: 100vh;
    /* height: 100vh; */
}

.home-text{
    /* font-family: "comicNeueSans"; */
    font-family: 'Arvo', serif;
}

.intro-info{
    border-right: 1em solid #42000A;
    background-color: #FCF8FC;
}

.intro-panel{
    -ms-grid-column: third;
        grid-column-start: third;
    border-left: 0.6em solid black;
}

.panel-content{
    width: 80%;
    margin: auto;
}

#profile-pic-container{
    width: 80%;
    overflow: hidden;
    /* margin-top: 50px; */
    margin-top: 22%;
}

#profile-pic{
    width: 100%;
}

.inner-home-text{
    margin: 5% auto;
    width: 50%;
    font-size: 4.7vw;
    /* font-size: 4em; */
}

.typewriter{
    width: 80%; /* So that the cursor flicker at the end is close to the text */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    
    /* Gives that scrolling effect as the typing happens */
    /* Adjust as needed */
}

#hello-and{
    -webkit-animation: 
    typing 1.5s steps(25, end),
    blink-caret .5s step-end 2;
            animation: 
    typing 1.5s steps(25, end),
    blink-caret .5s step-end 2;
    /* Keeps width at 0 before animation begins, 
    during the delay so that text is not visible 
    before the typewriting starts */
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
}

#welcome{
    -webkit-animation: 
    typing 1.5s steps(25, end) 1.1s,
    blink-caret .5s step-end 1.1s 5;
            animation: 
    typing 1.5s steps(25, end) 1.1s,
    blink-caret .5s step-end 1.1s 5;
    /* Keeps width at 0 before animation begins, 
    during the delay so that text is not visible 
    before the typewriting starts */
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
}

#my-name-is{
    -webkit-animation: 
    typing 1.5s steps(25, end) 4.2s,
    blink-caret .5s step-end 4.2s 2;
            animation: 
    typing 1.5s steps(25, end) 4.2s,
    blink-caret .5s step-end 4.2s 2;
    /* Keeps width at 0 before animation begins, 
    during the delay so that text is not visible 
    before the typewriting starts */
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
}

#aiyaz-noor{
    -webkit-animation: 
    typing 1.5s steps(25, end) 5.8s,
    blink-caret .5s step-end 5.8s infinite;
            animation: 
    typing 1.5s steps(25, end) 5.8s,
    blink-caret .5s step-end 5.8s infinite;
    /* Keeps width at 0 before animation begins, 
    during the delay so that text is not visible 
    before the typewriting starts */
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards; 
}


@-webkit-keyframes typing {
    /* from, to { width: 0 }
    100% { width: 80% } */
    from { width: 0 }
    to { width: 80% }
}


@keyframes typing {
    /* from, to { width: 0 }
    100% { width: 80% } */
    from { width: 0 }
    to { width: 80% }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
    0% { border-color: transparent; }
    50% { border-color: #D25400; }
    100% { border-color: transparent; }
    /* from, to { border-color: orange } 
    50% { border-color: transparent } */
}
@keyframes blink-caret {
    0% { border-color: transparent; }
    50% { border-color: #D25400; }
    100% { border-color: transparent; }
    /* from, to { border-color: orange } 
    50% { border-color: transparent } */
}

#come-in-btn{
    background-color: #D25400;
    border-radius: 20px;
    /* font-size: 2em; */
    font-size: 2.35vw;
    color: white;
    width: 15%;
    margin-left: 35%;
    padding-left: 5%;
    font-family: 'Oregano', cursive;
    line-height: 2;
    font-weight: bold;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}

#come-in-btn:hover{
    color: #D25400;
    background-color: white;
}

#quote-text{
    font-size: 3.5vw;
    font-family: 'Cookie', cursive;
}

#quote-author{
    font-family: 'Arvo', serif;
    /* font-size: 1.5em; */
    font-size: 1.73vw;
    margin: 10% 0;
}

#my-name{
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Oregano', cursive;
    /* width: 52%; */
    margin-left: 14%;
    margin-bottom: 3%;
    /* font-size: 2em; */
    font-size: 2.35vw;
}

#navbar{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: [first] 45% [second] (11%) (11%) (11%) (11%) (11%);
        grid-template-columns: [first] 45% [second] repeat(5,11%);
    background-color: #4B2F1F;
    color: white;
    z-index: 1;
}

#bars-icon{
    float: right;
    display: none;
}

.sticky + #page-content {
    padding-top: 4em;
}

#navbar-name{
    font-size: 2.5em;
    /* font-size: 3.47vw; */
    padding: 1% 0 2% 8%;
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'Arvo', serif;
}

.nav-link{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 1.5em;
    /* font-size: 2.3vw; */
    /* padding: 6% 4% 6% 0; */
    /* padding: 11% 4% 6% 0; */
    padding: 11%;
    cursor: pointer;
    position: relative;
}

.nav-link.underlined{
    text-decoration: underline;
}

.nav-link:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 23%;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .25s cubic-bezier(1,.25,0,.75) 0s;
    transition: all .25s cubic-bezier(1,.25,0,.75) 0s;
}

.nav-link:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(0.7);
    transform: scaleX(0.7);
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

#short-descriptions{
    /* font-family: 'Orbitron', sans-serif; */
    /* font-size: 1.3em; */
    font-family: 'Arvo', serif;
    /* font-size: 1.5vw; */
    font-size: 1.6vw;
}

#new-grad{
    float: left;
    width: 50%;
}

#ta{
    float: right;
    width: 50%;
}

#dev{
    margin: 2% 20%;
    float: left;
}

.section{
    min-height: 40em;
}


.alt-bg-colr{
    background-color: #FCF8FC;
}

h1 {
    margin: 0;
    color: #D25400;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 6em;
    /* font-size: 7vw; */
}

#about-content{
    margin: 3% auto 0 auto;
    max-width: 1200px;
}

#about-img-container{
    /* float: left; */
    /* width: 30%; */
    width: 25em;
    margin-left: 3%;
    /* margin-top: 2.3%; */
    overflow: hidden;
    display: inline-block;
}

#about-img{
    width: 100%;
}

#about-grid{
    /* margin-right: 3%; */
    /* margin-top: 2%; */
    /* width: 49em; */
    /* width: 55%; */
    height: 23em;
    /* height: 56%; */
    float: right;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (18em) (18em);
        grid-template-columns: repeat(2, 18em);
    -ms-grid-rows: (40%) (40%);
        grid-template-rows: repeat(2, 40%);
    /* grid-column-gap: 13%; */
    grid-row-gap: 4%;
    /* justify-content: space-between; */
}

h2{
    text-align: center;
    margin: 2%;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2em;
    /* font-size: 1.4vw; */
}

p{
    margin: 5%;
    font-family: 'Arvo', serif;
    font-weight: bold;
    /* font-size: 1.15vw; */
    font-size: 1em;
    /* Somewhat of a solution for the weird differences
    in rendering line heights between firefox/edge and chrome */
    line-height: 1;
}

.cue-card-info{
    background-image: url("./images/CueCard.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#contact-grid{
    width: 50%;
    margin: 5% auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: [first] 25% [second] 75%;
        grid-template-columns: [first] 25% [second] 75%;
    -ms-grid-rows: (12.5%) (12.5%) (12.5%) (12.5%);
        grid-template-rows: repeat(4, 12.5%);
}

.contact-icon{
    /* font-size: 4.5em; */
    font-size: 5.1vw;
    margin-left: 23%;
    margin-bottom: 18%;
}

.contact-link {
    font-family: 'Do Hyeon', sans-serif;
    text-decoration: none;
    margin-left: 19%;
    margin-top: 4%;
    /* font-size: 1.5em; */
    font-size: 1.7vw;
}
.contact-link:link {color: black};
.contact-link:visited {color: black;}   /* visited link */
.contact-link:hover {color: black;}     /* mouse over link */
.contact-link:active {color: black;} 

.projects-grid{
    display: -ms-grid;
    display: grid;
    width: 80%;
    max-width: 1000px;
    margin: 3% auto;
    /* height: 58%; */
    -ms-grid-columns: [first] 40% [second] 40%;
        grid-template-columns: [first] 40% [second] 40%;
    -ms-grid-columns: (25em) (25em);
        grid-template-columns: repeat(2, 25em);
    /* grid-column-gap: 20%; */
    -webkit-perspective: 800px;
            perspective: 800px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.project-card{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 4px 8px 0 #42000A;
    /* Override min width and min height so that grid doesn't resize to fit its pictures/content*/
    min-width: 0;
    min-height: 0;
    height: 25em;
    position: relative;
}

/* .project-card:hover{
    box-shadow: 0 8px 16px 0 #42000A;
} */

.project-card-front{
    position: absolute;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: [first] 60% [second] 40%;
        grid-template-rows: [first] 60% [second] 40%;
    /* transition: 0.3s; */
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.project-card-back{
    background-color: #FCF8FC;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: [first] 15% [second] 73% [third] auto;
        grid-template-rows: [first] 15% [second] 73% [third] auto;
}

.details-header{
    float: left;
    margin-top: 3%;
    font-family: 'Abril Fatface', cursive;
    font-size: 2em;
    /* font-size: 2.4vw; */
    margin-left: 5%;
}

.close-btn{
    cursor: pointer;
    float: right;
    font-size: 2em;
    /* font-size: 2.3vw; */
    margin-right: 4%;
    margin-top: 4.4%;
}

.project-details{
    overflow: auto;
}

.tech-stack-header{
    margin: 3%;
    text-align: center;
    color: #42000A;
    font-family: 'Orbitron', sans-serif;
    /* font-size: 1.35vw; */
    font-size: 1.15em;
}

.tech-stack-icons{
    text-align: center;
    height: 25%;
}

.tech-stack-icon{
    width: 15%;
    height: 90%;
    margin: 1%;
}

.notes-header{
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #D25400;
    /* font-size: 1.8vw; */
    font-size: 1.5em;
}

.notes-list{
    margin: 0;
    font-family: 'Arvo', serif;
    /* font-size: 1.14vw; */
    font-size: 1em;
    padding-right: 5%;
}

.project-link-btn{
    float: right;
    background-color: #42000A;
    color: white;
    padding: 1%;
    font-family: 'Abril Fatface', cursive;
    /* font-size: 1.2vw; */
    font-size: 1em;
    margin-right: 5%;
    cursor: pointer;
}

.project-link-btn:hover{
    color: #42000A;
    background-color: #FCF8FC;
    -webkit-transition: all .3s;
    transition: all .3s;
}

/* .project-link{
    text-decoration: none;
}
.project-link:link {color: white};
.project-link:visited {color: white;}   
.project-link:hover {color: white;}     
.project-link:active {color: white;}  */

.flipped{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.project-img-container{
    overflow: hidden;
}

.project-snapshot{
    width: 100%;
}

.project-info{
    padding: 4%;
}

.project-title{
    font-size: 1.5em;
    /* font-size: 1.75vw; */
    font-family: 'Abril Fatface', cursive;
    color: #D25400;
}

.learn-more-btn{
    float: right;
    margin-top: 1.5%;
    background-color: black;
    color: white;
    font-family: 'Abril Fatface', cursive;
    /* font-size: 1.2vw; */
    font-size: 1em;
    padding: 1%;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    border-radius: 0.5em;
}

.learn-more-btn:hover{
    color: black;
    background-color: white;
}

.project-description{
    margin-top: 6%;
    font-family: 'Arvo', serif;
    /* font-size: 1.15vw; */
    font-size: 1em;
}


#resume-btn{
    background-color: black;
    width: 43%;
    height: 52%;
    margin-left: 20%;
    margin-top: 2%;
    padding-top: 2%;
    /* font-size: 2em; */
    font-size: 2.3vw;
    text-align: center;
    color: white;
    font-family: 'Abril Fatface', cursive;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}

#resume-btn:hover{
    color: black;
    background-color: white;
}

#temp-msg{
    font-family: 'Abril Fatface', cursive;
    /* font-size: 4em; */
    font-size: 5vw;
    margin-left: 6%;
    margin-top: 7%;
}

/* Media Queries */

@media screen and (max-width: 1023px){

    #about-content{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #about-grid{
        display: -ms-inline-grid;
        display: inline-grid;
        float: none;
    }

    .projects-grid{
        -ms-grid-columns: (25em);
            grid-template-columns: repeat(1, 25em);
        -ms-grid-rows: (auto) (auto);
            grid-template-rows: repeat(2, auto);
        grid-row-gap: 30px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%
    }

    #navbar{
        -ms-grid-columns: [first] 25% [second] (15%) (15%) (15%) (15%) (15%);
            grid-template-columns: [first] 25% [second] repeat(5,15%);
    }

    #navbar-name{
        /* font-size: 2em;
        padding-top: 6%; */
        font-size: 1.5em;
        padding-top: 6%;
        padding-bottom: 13%;
    }
}

@media screen and (max-width: 575px){

    h1{
        font-size: 3.5em;
    }

    #about-grid{
        -ms-grid-columns: (18em);
            grid-template-columns: repeat(1, 18em);
        -ms-grid-rows: (20%) (20%) (20%) (20%);
            grid-template-rows: repeat(4, 20%);
        height: 46em;
    }

    #about-img-container{
        width: 320px;
    }

    .projects-grid{
        -ms-grid-columns: (388px);
            grid-template-columns: repeat(1, 388px);
    }

}

@media screen and (max-width: 715px){

    #navbar{
        -ms-grid-columns: [first] 100% [second];
            grid-template-columns: [first] 100% [second];
        /* grid-template-rows: repeat(6, auto); */
        -ms-grid-rows: 67.5px (35px) (35px) (35px) (35px) (35px);
            grid-template-rows: 67.5px repeat(5, 35px);
        /* Only show navbar name until bars icon clicked */
        max-height: 67.5px;
        overflow-y: hidden;
        /* Sliding down animation, when bars icon clicked */
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: .5s;
                transition-duration: .5s;
        -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
                transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }

    #navbar-name{
        padding: 2%;
    }

    .nav-link{
        padding: 0;
        /* display: none; */
    }

    .nav-link:before{
        /* bottom: 7%;
        width: 135px;
        left: 40%; */
        /* positioning of underline animation is inaccurate, 
        for smaller screens, so no animation for now  */
        height: 0px; 
    }

    #navbar.responsive{
        /* Reveal rest of navbar, aka all the navlinks, when bars icon clicked */
        max-height: 242.5px;
    }

    /* #navbar.responsive .nav-link{
        display: block;
    } */

    #bars-icon{
        display: inline;
        margin-right: 15px;
        cursor: pointer;
    }

    #contact-grid{
        width: 320px;
    }

    .contact-link{
        font-size: 12px;
    }

    .contact-icon{
        font-size: 36px;
    }

    #resume-btn{
        font-size: 16px;
    }
}
